div{
    background-color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: darksalmon;
}
h4{
    color: darksalmon;
}
.blog{
   text-align: center;
   
}
.image{
    text-align: center;
}
.blog{
    border: 5px solid rosybrown;
    border-radius: 2px;
    margin: 20px 50px;
    padding: 4px;
    height: 80px;
    width: 200px;
}