div{
    background-color: cornsilk;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: darksalmon;
}
h4{
    color: darksalmon;
}
.blog{

   text-align: center;
   
}
.image{
    text-align: center;
    padding-top: 2px;
}
